<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".cfm" allowed="true" />
                    <add fileExtension=".js" allowed="true" />
                    <add fileExtension=".cfc" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <defaultDocument>
            <files>
                <add value="home.cfm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
